* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(46,46,46) ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

nav{
  display: flex;
  align-items: center;
  background-color: rgb(30, 30, 30);
  height: 110px;
  padding: 30px 25px;
  color: white;
}

.nav--icon{
  width: 150px;
  margin-right: 7px;
}

.nav--logo_text, .nav--title {
  margin: -17px;
}

.nav--logo_text{
  margin-right: auto;
  color: #61DAFB  ;
  font-weight: 700;
  font-size:x-large;
}

.nav--title{
  color: #DEEBF8;
  font-size:x-large;
  margin-right: 10px;
}

main{
  color: white;
  padding: 30px 60px;
  background-image: url(./images/gray-react-logo.png);
  background-repeat: no-repeat;
  background-position : right 99%;
  background-position-y: 15%;
}

.main-el{
  margin: 0;
  font-size: 50px;
  letter-spacing: -0.05cm;

}

.list-el{
  padding: 10px 50px;
  font-size:larger;
  height: 400px;
}

.list-el > li {
  padding-block: 4px;
}

.list-el > li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}

.light{
  background-color: rgb(255, 255, 255);
  color: rgb(46, 46, 46);
}

/* .gray-logo{
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-left: 1020px;
  padding: 1px 10px;
  width: 300px;
} */

.dark-mode{
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.toggler-slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}
